/* line 2, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
:root {
  --form-field-border-color: #b8b8b8;
  --gutter: 32px;
  --gap: 16px;
  --margin-fields: .75em;
}

/* line 8, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
body {
  line-height: 1.45;
}

@font-face {
  font-family: 'Granjon';
  src: url("../../laurel/webfonts/granjon/GranjonLTStd.eot");
  src: url("../../laurel/webfonts/granjon/GranjonLTStd.eot?#iefix") format("embedded-opentype"), url("../../laurel/webfonts/granjon/GranjonLTStd.woff") format("woff"), url("../../laurel/webfonts/granjon/GranjonLTStd.ttf") format("truetype");
}

@font-face {
  font-family: 'HelvNeue45LR';
  src: url("../../laurel/webfonts/helv-neue/32CEE0_1_0.eot");
  src: url("../../laurel/webfonts/helv-neue/32CEE0_1_0.eot?#iefix") format("embedded-opentype"), url("../../laurel/webfonts/helv-neue/32CEE0_1_0.woff2") format("woff2"), url("../../laurel/webfonts/helv-neue/32CEE0_1_0.woff") format("woff"), url("../../laurel/webfonts/helv-neue/32CEE0_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'HelvNeue55RR';
  src: url("../../laurel/webfonts/helv-neue/32CEE0_4_0.eot");
  src: url("../../laurel/webfonts/helv-neue/32CEE0_4_0.eot?#iefix") format("embedded-opentype"), url("../../laurel/webfonts/helv-neue/32CEE0_4_0.woff2") format("woff2"), url("../../laurel/webfonts/helv-neue/32CEE0_4_0.woff") format("woff"), url("../../laurel/webfonts/helv-neue/32CEE0_4_0.ttf") format("truetype");
}

/* line 24, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
:root {
  --font-granjon: Granjon, Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  --font-helv-neue-roman: HelveticaNeue, HelveticaNeueRoman, "HelveticaNeue-Roman", "Helvetica Neue Roman", HelveticaNeue-regular, TeXGyreHerosRegular, Helvetica, "HelvNeue55RR", "Helvetica Neue", Arial, Geneva, sans-serif;
  --font-helv-neue-light: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelvNeue45LR", HelveticaNeue, "Helvetica Neue", TeXGyreHerosRegular, Helvetica, Arial, Geneva, sans-serif;
}

/* line 35, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-form #edit-actions .button:not(.button--danger) {
  font-size: 1.5rem;
}

/* line 41, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item-title-0-value input {
  font-family: var(--font-granjon);
  font-size: 2.5em;
  padding: .1em .3em 0;
  width: 100%;
}

/* line 49, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item-field-subtitle-0-value input {
  font-family: var(--font-helv-neue-light);
  font-size: 2em;
  letter-spacing: .05px;
  padding: 0 .3em;
  width: 100%;
}

/* line 58, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item-body-0-summary textarea {
  font-family: var(--font-helv-neue-roman);
  font-size: 1.5em;
}

/* line 66, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
.edit-group-dates
, .node-event-form
.field--name-body
, .node-event-form
.field--name-field-event-moreinfo, .node-event-edit-form .edit-group-dates
, .node-event-edit-form .field--name-body
, .node-event-edit-form .field--name-field-event-moreinfo {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 73, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
#edit-field-event-location-0, .node-event-edit-form #edit-field-event-location-0 {
  padding: 0;
  border: none;
}

/* line 77, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
.form-item-field-event-location-0-title, .node-event-edit-form .form-item-field-event-location-0-title {
  margin-bottom: 0;
}

/* line 80, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
#field-event-datetime-values th, .node-event-edit-form #field-event-datetime-values th {
  display: none;
}

/* line 83, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
#edit-field-event-moreinfo-wrapper, .node-event-edit-form #edit-field-event-moreinfo-wrapper {
  border: 1px solid #c0c0c0;
  padding: 0px 18px 6px;
  background-color: #fcfcfa;
}

/* line 88, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
.edit-field-organization-wrapper, .node-event-edit-form .edit-field-organization-wrapper {
  margin-bottom: 3em;
}

/* line 91, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
fieldset#edit-field-event-location-0:not(.fieldgroup), .node-event-edit-form fieldset#edit-field-event-location-0:not(.fieldgroup) {
  padding: 0;
  border: none;
}

/* line 94, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
fieldset#edit-field-event-location-0:not(.fieldgroup) > legend, .node-event-edit-form fieldset#edit-field-event-location-0:not(.fieldgroup) > legend {
  display: none;
}

/* line 98, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
.form-item-field-event-audience-0-value, .node-event-edit-form .form-item-field-event-audience-0-value {
  margin: 2.5em 0 2em;
  padding: 10px 12px;
  text-transform: uppercase;
  background-color: #f5f5f2;
  border: 1px solid #bfbfba;
}

/* line 105, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
#field-event-datetime-values fieldset:not(.fieldgroup), .node-event-edit-form #field-event-datetime-values fieldset:not(.fieldgroup) {
  padding-top: 18px;
}

/* line 109, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.media-library-add-form__preview {
  align-items: flex-start;
  background: unset;
}

/* line 113, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

/* line 117, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
input[type='checkbox'] + label {
  vertical-align: middle;
  margin-left: 5px;
}

/* line 122, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-type-radio .description, .form-type-checkbox .description {
  margin-left: 30px;
}

/* line 125, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
#edit-actions {
  margin-top: 3em;
}

/* line 128, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
fieldset:not(.fieldgroup) {
  padding: 10px 18px 18px;
}

/* line 129, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
fieldset:not(.fieldgroup) > legend {
  position: initial;
}

/* line 134, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field--name-field-gallery-items {
  display: flex;
  flex-wrap: wrap;
}

/* line 137, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field--name-field-gallery-items > .field__item {
  max-width: 100px;
  margin: 0 1px 1px 0;
}

/* line 143, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.media-library-item__preview .field--name-thumbnail {
  line-height: .8;
}

/* line 147, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-url {
  width: 100%;
}

/* line 150, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item-field-article-date-0-value-date
, .form-item-field-article-image-0-filefield-remote-url {
  margin: 0;
}

/* line 155, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
input.form-autocomplete
, input.form-text
, input.form-tel
, input.form-email
, input.form-url
, input.form-search
, input.form-number
, input.form-color
, input.form-file
, input.form-date
, input.form-time
, textarea.form-textarea {
  line-height: 1.45;
}

/* line 172, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item-field-article-image-0 .description br {
  display: inline;
}

/* line 177, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.image-widget {
  border: 1px solid var(--form-field-border-color);
  padding: var(--gap);
}

/* line 182, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.image-widget-data .file--image {
  margin-bottom: var(--margin-fields);
}

/* line 185, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.image-widget-data .button {
  margin-left: 0;
}

/* line 189, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.file-size {
  margin-right: var(--gap);
}

/* line 192, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.entity-meta {
  margin: .75em 0;
}

/* line 200, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
tr.odd .form-item.text-format-wrapper, tr.odd .form-item.form-type-textarea, tr.even .form-item.text-format-wrapper, tr.even .form-item.form-type-textarea {
  margin-bottom: 0;
}

/* line 213, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-entity-table th {
  letter-spacing: 0.08em;
}

/* line 216, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-entity-table td {
  vertical-align: top;
}

/* line 219, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-entity-table input.button {
  margin-left: 0;
  margin-bottom: 1em;
}

/* line 222, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-entity-table input.button:first-child {
  margin-right: 1em;
}

/* line 226, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-entity-table .field--name-field-media-image img
, .ief-entity-table .field--name-field-media-audio-file audio {
  max-width: 150px;
}

/* line 231, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-entity-table .field--name-field-media-link {
  word-break: break-all;
}

/* line 237, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-row-form .form-wrapper > div > div:not(.container-inline) {
  margin-top: var(--gap);
}

/* line 239, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-row-form .form-wrapper > div > div:not(.container-inline).form-type-date, .ief-row-form .form-wrapper > div > div:not(.container-inline).form-textarea-wrapper, .ief-row-form .form-wrapper > div > div:not(.container-inline).description {
  margin: 0;
}

/* line 252, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.content-header {
  padding-top: 0;
}

/* line 254, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.content-header .layout-container {
  text-align: right;
}

/* line 259, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.layout-region > .form-wrapper {
  margin-bottom: 36px;
}

/* line 268, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.display-modes .block-system-main-block th:first-child {
  width: 25ch;
}

/* line 277, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.is-collapse-enabled .tabs {
  max-height: unset;
}

/* line 280, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.is-horizontal {
  left: 4px;
  width: calc( 100% - 4px);
}

/* line 284, ../../../../../Users/frankfarm/Documents/Git/d8/docroot/themes/contrib/walnut/sass/walnut.scss */
.is-horizontal .tabs__tab.is-active
, .is-horizontal .tabs.primary .tabs__tab.is-active
, [dir="rtl"] .is-horizontal .tabs.primary .tabs__tab.is-active {
  border-bottom: 1px solid #fff;
}

/*# sourceMappingURL=walnut.css.map */