/* line 3, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
:root {
  --form-field-border-color: #b8b8b8;
  --gutter: 32px;
  --gap: 16px;
  --margin-fields: .75em;
}

/* line 9, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
body {
  line-height: 1.45;
}

/* line 13, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
#cke_edit-field-caption-0-value {
  width: auto !important;
}

/* line 26, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.region-content ul:first-child.term-reference-tree-level {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 33, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field--widget-term-reference-tree ul li {
  margin-bottom: 2px;
}

/* line 38, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.term-reference-tree-button
, .no-term-reference-tree-button
, #field_media-media-library-wrapper--description {
  display: none;
}

/* line 50, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.user-logged-in .page-title {
  word-break: break-word;
  line-height: 1.4;
}

/* line 55, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
#edit-actions {
  margin-top: 36px;
}

/* line 58, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
#edit-actions
, #edit-field-ucsfphps-whatido-0-format {
  margin-bottom: 0;
}

/* line 63, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form--inline
, #edit-header {
  margin-bottom: 2em;
}

/* line 69, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field--name-field-event-moreinfo
, .field--name-field-event-sponsors
, .field--name-field-event-audience
, .field--name-field-chunks {
  border: 1px solid #c0c0c0;
  padding: 0px 18px 6px;
  background-color: #fcfcfa;
}

/* line 79, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-wrapper label
, .form-wrapper legend span
, .form-wrapper strong
, .form-wrapper .field-label {
  color: #595959;
  font-size: 1.25em;
  line-height: 1.2;
}

/* line 89, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-wrapper .description p
, .form-wrapper .description ol
, .form-wrapper .description ul {
  margin: .25em 0;
  padding: 0;
}

/* line 96, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-wrapper .description p:first-child {
  margin-top: 0;
}

/* line 104, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field-multiple-table
.form-item label, #edit-field-ucsfphps-whatido-0-format .form-item label {
  font-weight: normal;
  font-size: inherit;
  line-height: inherit;
}

/* line 110, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field-multiple-table
.form-wrapper, #edit-field-ucsfphps-whatido-0-format .form-wrapper {
  margin-bottom: inherit;
}

/* line 114, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
#search-block-form .form-item {
  margin: 0.5em 0;
}

/* line 118, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
ul.tips
, form.node-form .form-item .description {
  color: #21272a;
  margin: .25em 0 .25em -.5em;
  padding: .5em;
}

/* line 127, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
[id*="description"] {
  margin: .25em 0;
}

/* line 133, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field-multiple-table thead
tr, .field-multiple-table tbody tr {
  border-bottom: none;
}

/* line 138, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field-multiple-table thead th {
  color: #21272a;
  text-transform: none;
  padding: 0.5em 0;
  background: inherit;
  border: none;
}

/* line 147, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.layout-region-node-footer__content {
  border-top: none;
}

/* line 153, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
#node-ucsfpharmacy-person-edit-form .form-item label + div {
  color: #767676;
}

/* line 165, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-post-edit-form
.layout-region > .field--name-title
, .node-post-edit-form
.layout-region > .field--name-field-event-series, .node-event-edit-form
.layout-region > .field--name-title
, .node-event-edit-form
.layout-region > .field--name-field-event-series, .node-external-post-edit-form
.layout-region > .field--name-title
, .node-external-post-edit-form
.layout-region > .field--name-field-event-series, .node-in-the-news-edit-form .layout-region > .field--name-title
, .node-in-the-news-edit-form .layout-region > .field--name-field-event-series {
  margin-bottom: 0;
}

/* line 175, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-form #edit-actions .button:not(.button--danger) {
  font-size: 1.5rem;
}

/* line 180, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
#edit-submit-content {
  margin-top: 1em;
}

/* line 183, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item {
  margin: 0;
}

/* line 186, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item div:not(.form--inline) + .form-item {
  margin-top: 3em;
}

/* line 192, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item-title-0-value input {
  font-size: 2em;
  padding: .1em .3em 0;
  width: 100%;
}

/* line 199, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item-field-subtitle-0-value input {
  font-size: 1.5em;
  letter-spacing: .05px;
  padding: 0 .3em;
  width: 100%;
}

/* line 207, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item-body-0-summary textarea {
  font-size: 1.25em;
}

/* line 214, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
.edit-group-dates
, .node-event-form
.field--name-body
, .node-event-form
.field--name-field-event-moreinfo, .node-event-edit-form .edit-group-dates
, .node-event-edit-form .field--name-body
, .node-event-edit-form .field--name-field-event-moreinfo {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 221, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
#edit-field-event-location-0, .node-event-edit-form #edit-field-event-location-0 {
  padding: 0;
  border: none;
}

/* line 225, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
.form-item-field-event-location-0-title, .node-event-edit-form .form-item-field-event-location-0-title {
  margin-bottom: 0;
}

/* line 228, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
#field-event-datetime-values th, .node-event-edit-form #field-event-datetime-values th {
  display: none;
}

/* line 231, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
.edit-field-organization-wrapper, .node-event-edit-form .edit-field-organization-wrapper {
  margin-bottom: 3em;
}

/* line 234, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
fieldset#edit-field-event-location-0:not(.fieldgroup), .node-event-edit-form fieldset#edit-field-event-location-0:not(.fieldgroup) {
  padding: 0;
  border: none;
}

/* line 237, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
fieldset#edit-field-event-location-0:not(.fieldgroup) > legend, .node-event-edit-form fieldset#edit-field-event-location-0:not(.fieldgroup) > legend {
  display: none;
}

/* line 241, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
.form-item-field-event-audience-0-value, .node-event-edit-form .form-item-field-event-audience-0-value {
  margin: 2.5em 0 2em;
  padding: 10px 12px;
  text-transform: uppercase;
  background-color: #f5f5f2;
  border: 1px solid #bfbfba;
}

/* line 248, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
#field-event-datetime-values fieldset:not(.fieldgroup), .node-event-edit-form #field-event-datetime-values fieldset:not(.fieldgroup) {
  padding-top: 18px;
}

/* line 251, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.node-event-form
.form-item-field-event-audience-0-value, .node-event-edit-form .form-item-field-event-audience-0-value {
  border: none;
  padding: 0;
  background-color: transparent;
}

/* line 257, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.media-library-add-form__preview {
  align-items: flex-start;
  background: unset;
}

/* line 262, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.media-library-item--grid:before {
  border: none;
}

/* line 265, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.media-library-item--grid article {
  border: 1px solid var(--form-field-border-color);
  margin-bottom: 4px;
}

/* line 268, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.media-library-item--grid article > .media-library-item__preview {
  margin-bottom: 0;
  padding: 0;
}

/* line 274, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

/* line 278, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
input[type='checkbox'] + label {
  vertical-align: middle;
  margin-left: 5px;
}

/* line 283, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-type-radio .description, .form-type-checkbox .description {
  margin-left: 30px;
}

/* line 286, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
fieldset:not(.fieldgroup) {
  padding: 10px 18px 18px;
}

/* line 287, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
fieldset:not(.fieldgroup) > legend {
  position: initial;
}

/* line 292, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field--name-field-gallery-items {
  display: flex;
  flex-wrap: wrap;
}

/* line 295, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field--name-field-gallery-items > .field__item {
  max-width: 100px;
  margin: 0 1px 1px 0;
}

/* line 301, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.media-library-item__preview .field--name-thumbnail {
  line-height: .8;
}

/* line 305, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-url {
  width: 100%;
}

/* line 308, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item-field-article-date-0-value-date
, .form-item-field-article-image-0-filefield-remote-url {
  margin: 0;
}

/* line 313, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
input.form-autocomplete
, input.form-text
, input.form-tel
, input.form-email
, input.form-url
, input.form-search
, input.form-number
, input.form-color
, input.form-file
, input.form-date
, input.form-time
, textarea.form-textarea {
  line-height: 1.45;
  border: 1px solid transparent;
  box-shadow: inset 0 1px 3px #ccc;
}

/* line 329, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
input.form-autocomplete:hover
, input.form-text:hover
, input.form-tel:hover
, input.form-email:hover
, input.form-url:hover
, input.form-search:hover
, input.form-number:hover
, input.form-color:hover
, input.form-file:hover
, input.form-date:hover
, input.form-time:hover
, textarea.form-textarea:hover {
  box-shadow: inset 0 1px 3px #aaa;
}

/* line 332, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
input.form-autocomplete:focus
, input.form-autocomplete:active
, input.form-text:focus
, input.form-text:active
, input.form-tel:focus
, input.form-tel:active
, input.form-email:focus
, input.form-email:active
, input.form-url:focus
, input.form-url:active
, input.form-search:focus
, input.form-search:active
, input.form-number:focus
, input.form-number:active
, input.form-color:focus
, input.form-color:active
, input.form-file:focus
, input.form-file:active
, input.form-date:focus
, input.form-date:active
, input.form-time:focus
, input.form-time:active
, textarea.form-textarea:focus, textarea.form-textarea:active {
  border: 1px solid #b8b8b8;
  box-shadow: inset 0 1px 3px #999;
}

/* line 341, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item-field-article-image-0 .description br {
  display: inline;
}

/* line 346, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.image-preview {
  padding: 0 32px 32px 0;
}

/* line 349, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.image-widget {
  border: none;
  padding: 0;
}

/* line 354, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.image-widget-data .form-item-field-media-image-0-alt {
  width: inherit;
  max-width: 70ch;
}

/* line 358, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.image-widget-data .file--image {
  margin-bottom: var(--margin-fields);
}

/* line 361, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.image-widget-data .button {
  margin-left: 0;
}

/* line 365, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.image-data__crop-wrapper {
  border: none;
}

/* line 367, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.image-data__crop-wrapper summary {
  display: none;
}

/* line 370, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.image-data__crop-wrapper .seven-details__wrapper {
  padding: 0;
}

/* line 374, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.file-size {
  margin-right: var(--gap);
}

/* line 382, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
tr.odd .form-item.text-format-wrapper, tr.odd .form-item.form-type-textarea, tr.even .form-item.text-format-wrapper, tr.even .form-item.form-type-textarea {
  margin-bottom: 0;
}

/* line 403, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
fieldset:not(.fieldgroup).media-library-widget {
  padding: 0 18px;
}

/* line 410, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.primary-media-flex-group > .fieldset-wrapper .media-library-item__remove {
  top: 16px;
  right: 0;
}

/* line 418, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.media-library-widget > .fieldset-wrapper .media-library-item__remove {
  top: 10px;
  right: 10px;
}

/* line 425, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.post-titles-and-post-type-flex-group > legend:first-child + .fieldset-wrapper {
  display: flex;
}

/* line 427, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.post-titles-and-post-type-flex-group > legend:first-child + .fieldset-wrapper #edit-group-titles {
  margin-right: 50px;
}

/* line 432, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.primary-media-flex-group {
  border: none;
  /*
// commented out because it stopped working
  & > .fieldset-wrapper{
    gap: var(--gutter);
    display: flex;
    flex-wrap: wrap;
    .field--name-field-caption{
      flex-grow: 1;
      .text-format-wrapper{
        margin: 0 calc( var(--gutter) * 2 ) 0 0;
        margin: 0;
      }
      .form-item-field-caption-0-value{
        margin-top: 0;
      }
    }
    .media-library-selection{
      margin: 0;
    }
    .media-library-item__preview{
      padding-bottom: 0;
    }
    .media-library-item--grid{
      padding: 0;
      width: 100%;
      .field--name-thumbnail{
        background: transparent;
      }
      &:before{
        border: none;
      }
    }
  }
*/
}

/* line 433, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.primary-media-flex-group:not(.fieldgroup) {
  padding: 0;
  background-color: transparent;
}

/* line 438, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.primary-media-flex-group fieldset.form-wrapper:not(.fieldgroup)
, .primary-media-flex-group fieldset.form-item {
  margin: 0 0 1em 0;
}

/* line 443, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.primary-media-flex-group > legend {
  display: none;
}

/* line 446, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.primary-media-flex-group > .fieldset-wrapper {
  /*
    display: grid;
    grid-template-columns: 220px minmax(300px,auto) minmax(350px,auto);
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    */
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter);
}

/* line 455, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.primary-media-flex-group > .fieldset-wrapper .field--name-field-caption {
  max-width: 390px;
}

/* line 457, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.primary-media-flex-group > .fieldset-wrapper .field--name-field-caption div {
  margin: 0;
}

/* line 462, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.primary-media-flex-group .media-library-selection {
  margin: 0;
}

/* line 464, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.primary-media-flex-group .media-library-selection .media-library-item--grid {
  padding: 0;
  width: 100%;
}

/* line 467, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.primary-media-flex-group .media-library-selection .media-library-item--grid .field--name-thumbnail {
  background-color: transparent;
}

/* line 469, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.primary-media-flex-group .media-library-selection .media-library-item--grid .field--name-thumbnail img {
  height: auto;
}

/* line 513, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-entity-table th {
  letter-spacing: 0.08em;
}

/* line 516, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-entity-table td {
  vertical-align: top;
}

/* line 519, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-entity-table input.button {
  margin-left: 0;
  margin-bottom: 0;
}

/* line 522, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-entity-table input.button:first-child {
  margin-right: 1em;
}

/* line 526, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-entity-table .field--name-field-media-image img
, .ief-entity-table .field--name-field-media-audio-file audio {
  max-width: 150px;
}

/* line 531, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-entity-table .field--name-field-media-link {
  word-break: break-all;
}

/* line 537, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-row-form .form-wrapper > div > div:not(.container-inline) {
  margin-top: var(--gap);
}

/* line 539, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.ief-row-form .form-wrapper > div > div:not(.container-inline).form-type-date, .ief-row-form .form-wrapper > div > div:not(.container-inline).form-textarea-wrapper, .ief-row-form .form-wrapper > div > div:not(.container-inline).description {
  margin: 0;
}

/* line 552, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.content-header {
  padding-top: 0;
}

/* line 556, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.layout-region > .form-wrapper {
  margin-bottom: 36px;
}

/* line 558, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.layout-region > .form-wrapper.primary-media-flex-group {
  margin-bottom: 0;
}

/* line 568, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.display-modes .block-system-main-block th:first-child {
  width: 25ch;
}

/* line 577, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.is-collapse-enabled .tabs {
  max-height: unset;
}

/* line 580, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.is-horizontal {
  left: 4px;
  width: calc( 100% - 4px);
}

/* line 584, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.is-horizontal .tabs__tab.is-active
, .is-horizontal .tabs.primary .tabs__tab.is-active
, [dir="rtl"] .is-horizontal .tabs.primary .tabs__tab.is-active {
  border-bottom: 1px solid #fff;
}

/* line 589, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.vertical-tabs__menu-item a {
  padding: 10px 15px;
  line-height: 1.4;
}

/* line 593, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.vertical-tabs__menu-item.is-selected a {
  padding-left: 15px;
  font-size: 1.2em;
}

/* line 597, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-item-title {
  color: #21272a;
}

/* line 602, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
tbody tr:hover {
  background-color: #e6eef6;
}

/* line 607, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field-multiple-table tr td {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 610, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field-multiple-table tr td .form-item {
  margin-top: 0;
  margin-bottom: 1px;
}

/* line 615, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field-multiple-table tr td:nth-child(2)
, .field-multiple-table tr td:nth-child(3) {
  padding-right: 0;
}

/* line 623, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field--widget-media-library-widget {
  max-width: 220px;
}

/* line 625, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field--widget-media-library-widget fieldset:not(.fieldgroup) {
  border: none;
}

/* line 627, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field--widget-media-library-widget fieldset:not(.fieldgroup).media-library-widget {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
}

/* line 632, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field--widget-media-library-widget fieldset:not(.fieldgroup) > legend {
  text-transform: none;
  letter-spacing: 0;
}

/* line 638, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.media-form .field--name-status {
  margin-top: 0;
}

/* line 644, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
[id^="field-event-audience-values"].field-multiple-table td {
  padding: 5px 6px;
}

/* line 647, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
[id^="field-event-audience-values"].field-multiple-table tr.odd .form-item
, [id^="field-event-audience-values"].field-multiple-table tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 655, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.toolbar a {
  line-height: 1.2;
}

/* line 658, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.layout-region-node-secondary > *:first-child {
  margin-top: 10px;
}

/* line 662, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
[id] {
  scroll-margin-top: 2ex;
}

/*
#tab-titles .seven-details__wrapper > *
,#tab-person-type-and-dept .seven-details__wrapper > *
,#tab-education-and-training .form-type-entity-autocomplete
,#edit-field-ucsfphps-degrees-wrapper
,#edit-field-ucsfphps-postgradtraining-wrapper
,#edit-field-ucsfphps-licensurece-wrapper
,#tab-expertise .seven-details__wrapper > *
,#tab-affiliations-and-links .seven-details__wrapper > *:not(#edit-field-ucsfedsprofiles-wrapper)
{
  margin: 2em 0 2em -1em;
  padding: .25em 1em;
  border: 1px solid var(--form-field-border-color);
  border-radius: 4px;
  &:first-child{
    margin-top: 1em;
  }
  &:last-child{
    margin-bottom: 1em;
  }
}
// end - add a border around these fields or fieldgroups so that it's easier to understand what parts of the form go with what
*/
/* line 691, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field--type-entity-reference-revisions .form-wrapper {
  margin: 0.75em 0;
}

/* line 704, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
#tab-titles
.field-multiple-table tr.odd
.form-item, #tab-titles
.field-multiple-table tr.even .form-item, #tab-person-type-and-dept .seven-details__wrapper
.field-multiple-table tr.odd
.form-item, #tab-person-type-and-dept .seven-details__wrapper
.field-multiple-table tr.even .form-item, #tab-expertise .seven-details__wrapper .field-multiple-table tr.odd
.form-item, #tab-expertise .seven-details__wrapper .field-multiple-table tr.even .form-item {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* line 709, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
#tab-titles
.field-multiple-table td, #tab-person-type-and-dept .seven-details__wrapper
.field-multiple-table td, #tab-expertise .seven-details__wrapper .field-multiple-table td {
  padding: 0;
}

/* line 720, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
#tab-education-and-training
tbody tr, #tab-affiliations-and-links tbody tr {
  background-color: #f2f2f0;
  border-bottom: 25px solid #fcfcfa;
}

/* line 723, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
#tab-education-and-training
tbody tr td, #tab-affiliations-and-links tbody tr td {
  padding: 6px 0 8px;
}

/* line 730, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
#edit-field-credit-actions {
  margin-bottom: 10px;
}

/* line 733, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
#edit-field-credit-remove-button {
  margin: 30px 0 0;
}

/* line 742, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item .description
a:after, .form-item .edit-media-link a:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 14px;
  background-image: url(../icons/external-link-square.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 3px 0;
}

/* line 753, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item .description
a:hover:after, .form-item .edit-media-link a:hover:after {
  background-image: url(../icons/external-link-square-hover.svg);
}

/* line 756, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item .description
a[target]:after, .form-item .edit-media-link a[target]:after {
  background-image: url(../icons/external-link-in-new-tab.svg);
  width: 47px;
}

/* line 760, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.form-item .description
a[target]:hover:after, .form-item .edit-media-link a[target]:hover:after {
  background-image: url(../icons/external-link-in-new-tab-hover.svg);
  width: 47px;
}

/* line 766, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
th#view-changed-table-column {
  min-width: 16ch;
}

/* line 769, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.smartdate--widget .allday-label {
  margin: 1.2em 4em 0.6em 0;
}

/* line 771, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.smartdate--widget .allday-label input {
  margin: 0 1em 0 0;
}

/* line 777, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
#drupal-off-canvas ul li
, #drupal-off-canvas ol li {
  display: inherit;
}

/* line 785, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
.field-multiple-table tr + tr {
  margin-top: 1em;
}

@media screen and (min-width: 780px), (orientation: landscape) and (min-device-height: 780px) {
  /* line 792, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
  .layout-region-node-main {
    padding-right: 0;
  }
  /* line 795, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
  .layout-region-node-main
, .layout-region-node-secondary {
    float: none;
    width: auto;
  }
}

@media screen and (min-width: 1200px), (orientation: landscape) and (min-device-height: 1200px) {
  /* line 803, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
  .layout-region-node-main {
    padding-right: 2em;
  }
  /* line 806, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
  .layout-region-node-main {
    float: left;
    width: 70%;
  }
  /* line 810, ../../../../../Users/frankfarm/drupal8/docroot/themes/contrib/walnut/sass/walnut.scss */
  .layout-region-node-secondary {
    float: right;
    width: 30%;
  }
}

/*# sourceMappingURL=walnut.css.map */