@import "../../laurel/sass/_design-tokens-color-2021.scss";

:root{
  --form-field-border-color: #b8b8b8;
  --gutter: 32px;
  --gap: 16px;
  --margin-fields: .75em;
}
body{
  line-height: 1.45;
}

#cke_edit-field-caption-0-value{
  width: auto !important; // without this primary media and caption on events will not sit side by side on desktop
}

// term reference tree
.region-content ul.term-reference-tree-level
,.term-reference-tree-level
{
  // margin: 2px 0 0 -24px;
}
.term-reference-tree-level{
}
.region-content{
  ul:first-child.term-reference-tree-level{
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
.field--widget-term-reference-tree{
  ul{
    li{
      margin-bottom: 2px;
    }
  }
}
.term-reference-tree-button
,.no-term-reference-tree-button
,#field_media-media-library-wrapper--description
{
  display: none;
}



// content types and form displays

.user-logged-in{
  .page-title{
    word-break: break-word;
    line-height: 1.4;
  }
}
#edit-actions{
  margin-top: 36px;
}
#edit-actions
,#edit-field-ucsfphps-whatido-0-format
{
  margin-bottom: 0;
}
.form--inline
,#edit-header
// ,.form-wrapper:not(.filter-help):not(.filter-guidelines):not(.media-library-selection):not(.media-library-widget)
{
  margin-bottom: 2em;
}
.field--name-field-event-moreinfo
,.field--name-field-event-sponsors
,.field--name-field-event-audience
,.field--name-field-chunks
{
  border: 1px solid #c0c0c0;
  padding: 0px 18px 6px;
  background-color: #fcfcfa;
}
.form-wrapper{
  label
  ,legend span
  ,strong
  ,.field-label
  {
    color: #595959; // inherited from vertical-tabs.css
    font-size: 1.25em;
    line-height: 1.2;
  }
  .description{
    p
    ,ol
    ,ul
    {
      margin: .25em 0;
      padding: 0;
    }
    p:first-child{
      margin-top: 0;
    }
  }
}
.field-multiple-table
,#edit-field-ucsfphps-whatido-0-format
{
  .form-item label
  {
    font-weight: normal;
    font-size: inherit;
    line-height: inherit;
  }
  .form-wrapper{
    margin-bottom: inherit;
  }
}
#search-block-form .form-item{
  margin: 0.5em 0;
}
// start - highlight help text aka description
ul.tips
,form.node-form .form-item .description
{
  color: $color-text;
  margin: .25em 0 .25em -.5em;
  padding: .5em;
  // background-color: $color-l6-yellow;
}
// end - highlight help text aka description
[id*="description"]{
  margin: .25em 0;
}
.field-multiple-table{
  thead
  ,tbody{
    tr{
      border-bottom: none;
    }
  }
  thead{
    th{
      color: $color-text;
      text-transform: none;
      padding: 0.5em 0;
      background: inherit;
      border: none;
    }
  }
}
.layout-region-node-footer__content{
  border-top: none;
}

#node-ucsfpharmacy-person-edit-form{
  .form-item{
    margin: 0;
    label+div{
      color: $color-black-54;
    }
    div:not(.form--inline){
      & + .form-item{
        margin-top: 3em;
      }
    }
  }
}
  // keep certain fields close together because they are related or work well as a group
  .node-post-edit-form
  ,.node-event-edit-form
  ,.node-external-post-edit-form
  ,.node-in-the-news-edit-form
  {
    .layout-region{
      & > .field--name-title
      ,& > .field--name-field-event-series
      {
        margin-bottom: 0;
      }
    }
  }

.node-form{
  #edit-actions{
    .button:not(.button--danger){
      font-size: 1.5rem; // make certain buttons larger so they are easier to select
    }
  }
}
#edit-submit-content{
  margin-top: 1em;
}
.form-item {
}
.form-item-title-0-value{
  input{
    font-size: 2em;
    padding: .1em .3em 0;
    width: 100%;
  }
}
.form-item-field-subtitle-0-value{
  input{
    font-size: 1.5em;
    letter-spacing: .05px;
    padding: 0 .3em;
    width: 100%;
  }
}
.form-item-body-0-summary{
  textarea{
    font-size: 1.25em;
  }
}
.node-event-form
,.node-event-edit-form
{
  .edit-group-dates
  ,.field--name-body
  ,.field--name-field-event-moreinfo
  {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  #edit-field-event-location-0{
    padding: 0;
    border: none;
  }
  .form-item-field-event-location-0-title{
    margin-bottom: 0;
  }
  #field-event-datetime-values th{
    display: none;
  }
  .edit-field-organization-wrapper{
    margin-bottom: 3em;
  }
  fieldset#edit-field-event-location-0:not(.fieldgroup){
    padding: 0;
    border: none;
    & > legend{
      display: none;
    }
  }
  .form-item-field-event-audience-0-value{
    margin: 2.5em 0 2em;
    padding: 10px 12px;
    text-transform: uppercase;
    background-color: #f5f5f2;
    border: 1px solid #bfbfba;
  }
  #field-event-datetime-values fieldset:not(.fieldgroup){
    padding-top: 18px;
  }
  .form-item-field-event-audience-0-value{
    border: none;
    padding: 0;
    background-color: transparent;
  }
}
.media-library-add-form__preview {
  align-items: flex-start;
  background: unset;
}
.media-library-item--grid{
  &:before{
    border: none;
  }
  article{
    border: 1px solid var(--form-field-border-color);
    margin-bottom: 4px;
    & > .media-library-item__preview{
      margin-bottom: 0;
      padding: 0;
    }
  }
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  & + label{
    vertical-align: middle;
    margin-left: 5px;
  }
}
.form-type-radio .description, .form-type-checkbox .description {
  margin-left: 30px;
}
fieldset:not(.fieldgroup){
  & > legend{
    position: initial;
  }
  padding: 10px 18px 18px;
}
.field--name-field-gallery-items{
  display: flex;
  flex-wrap: wrap;
  & > .field__item{
    max-width: 100px;
    margin: 0 1px 1px 0;
  }
}
.media-library-item__preview{
  .field--name-thumbnail{
    line-height: .8;
  }
}
.form-url{
  width: 100%;
}
.form-item-field-article-date-0-value-date
,.form-item-field-article-image-0-filefield-remote-url
{
  margin: 0;
}
input.form-autocomplete
,input.form-text
,input.form-tel
,input.form-email
,input.form-url
,input.form-search
,input.form-number
,input.form-color
,input.form-file
,input.form-date
,input.form-time
,textarea.form-textarea
{
  line-height: 1.45;
  border: 1px solid transparent;
  box-shadow: inset 0 1px 3px #ccc;
  &:hover{
    box-shadow: inset 0 1px 3px #aaa;
  }
  &:focus
  ,&:active
  {
    border: 1px solid #b8b8b8;
    box-shadow: inset 0 1px 3px #999;
  }
}
.form-item-field-article-image-0{
  .description{
    br{
      display: inline;
    }
  }
}
.image-preview{
  padding: 0 32px 32px 0;
}
.image-widget{
  border: none;
  padding: 0;
}
.image-widget-data{
  .form-item-field-media-image-0-alt{
    width: inherit;
    max-width: 70ch;
  }
  .file--image{
    margin-bottom: var(--margin-fields);
  }
  .button{
    margin-left: 0;
  }
}
.image-data__crop-wrapper{
  border: none;
  summary{
    display: none;
  }
  .seven-details__wrapper{
    padding: 0;
  }
}
.file-size{
  margin-right: var(--gap);
}
tr{
  &.odd
  ,&.even
  {
    .form-item{
      &.text-format-wrapper
      ,&.form-type-textarea
      {
        margin-bottom: 0;
      }
    }
  }
}

// hide item weight info where irrelevant because there is only ever one item
.primary-media-flex-group
,.media-library-widget
{
  & > .fieldset-wrapper{
    .media-library-widget__toggle-weight{
      // display: none;
    }
  }
}

// resolves too much vertical padding in .media-library-widget
fieldset:not(.fieldgroup).media-library-widget{
  padding: 0 18px;
}

// resolves incorrect position of remove button (X) for media items
.primary-media-flex-group{
  & > .fieldset-wrapper{
    .media-library-item__remove{
      top: 16px;
      right: 0;
    }
  }
}
.media-library-widget{
  & > .fieldset-wrapper{
    .media-library-item__remove{
      top: 10px;
      right: 10px;
    }
  }
}
.post-titles-and-post-type-flex-group{
  &>legend:first-child+.fieldset-wrapper{
    display: flex;
    #edit-group-titles{
      margin-right: 50px;
    }
  }
}
.primary-media-flex-group{
  &:not(.fieldgroup){
    padding: 0;
    background-color: transparent;
  }
  border: none;
  fieldset.form-wrapper:not(.fieldgroup)
  ,fieldset.form-item
  {
    margin: 0 0 1em 0;
  }
  & > legend{
    display: none; // label for fieldset group
  }
  & > .fieldset-wrapper{
    /*
    display: grid;
    grid-template-columns: 220px minmax(300px,auto) minmax(350px,auto);
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    */
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
    .field--name-field-caption{
      max-width: 390px;
      div{ 
        margin: 0;
      }
    }
  }
  .media-library-selection{
    margin: 0;
    .media-library-item--grid{
      padding: 0;
      width: 100%;    
      .field--name-thumbnail{
        background-color: transparent;
        img{
          height: auto;
        }
      }
    }
  }
/*
// commented out because it stopped working
  & > .fieldset-wrapper{
    gap: var(--gutter);
    display: flex;
    flex-wrap: wrap;
    .field--name-field-caption{
      flex-grow: 1;
      .text-format-wrapper{
        margin: 0 calc( var(--gutter) * 2 ) 0 0;
        margin: 0;
      }
      .form-item-field-caption-0-value{
        margin-top: 0;
      }
    }
    .media-library-selection{
      margin: 0;
    }
    .media-library-item__preview{
      padding-bottom: 0;
    }
    .media-library-item--grid{
      padding: 0;
      width: 100%;
      .field--name-thumbnail{
        background: transparent;
      }
      &:before{
        border: none;
      }
    }
  }
*/
}

// ief
.ief-entity-table{
  th{
    letter-spacing: 0.08em;
  }
  td{
    vertical-align: top;
  }
  input.button{
    margin-left: 0;
    margin-bottom: 0;
    &:first-child{
      margin-right: 1em;
    }
  }
  .field--name-field-media-image img
  ,.field--name-field-media-audio-file audio
  {
    max-width: 150px;
  }
  .field--name-field-media-link{
    word-break: break-all;
  }
}
.ief-row-form{
  .form-wrapper{
    & > div > div:not(.container-inline){
      margin-top: var(--gap);
      &.form-type-date
      ,&.form-textarea-wrapper
      ,&.description
      {
        margin: 0;
      }
    }
  }
}



// regions
.content-header{
  padding-top: 0; // save wasted space
}
.layout-region{
  & > .form-wrapper{
    margin-bottom: 36px;
    &.primary-media-flex-group{
      margin-bottom: 0;
    }
  }
}



.display-modes{
  .block-system-main-block{
    th:first-child{
      width: 25ch;
    }
  }
}



// tabs
.is-collapse-enabled .tabs{
  max-height: unset;
}
.is-horizontal{
  left: 4px;
  width: calc( 100% - 4px );
}
.is-horizontal .tabs__tab.is-active
, .is-horizontal .tabs.primary .tabs__tab.is-active
, [dir="rtl"] .is-horizontal .tabs.primary .tabs__tab.is-active{
  border-bottom: 1px solid #fff;
}
.vertical-tabs__menu-item a{
  padding: 10px 15px;
  line-height: 1.4;
}
.vertical-tabs__menu-item.is-selected a{
  padding-left: 15px;
  font-size: 1.2em;
}
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-item-title{
  color: $color-text;
}

// tables
tbody tr:hover{
  background-color: $color-a6-blue;
}
.field-multiple-table{
  tr{
    td{
      padding-top: 0;
      padding-bottom: 0;
      .form-item{
        margin-top: 0;
        margin-bottom: 1px;
      }
    }
    td:nth-child(2)
    ,td:nth-child(3)
    {
      padding-right: 0;
    }
  }
}

.field--widget-media-library-widget{
  max-width: 220px;
  fieldset:not(.fieldgroup){
    border: none;
    &.media-library-widget{
      padding: 0;
      margin-bottom: 0;
      background-color: transparent;
    }
    & > legend{
      text-transform: none;
      letter-spacing: 0;
    }
  }
}
.media-form .field--name-status {
  margin-top: 0;
}

[id^="field-event-audience-values"]{
  &.field-multiple-table{
    td{
      padding: 5px 6px;
    }
    tr.odd .form-item
    ,tr.even .form-item
    {
    margin-top: 0;
    margin-bottom: 0;
    }
  }
}
.toolbar a{
  line-height: 1.2;
}
.layout-region-node-secondary>*:first-child{
  margin-top: 10px;
}
// start - https://piccalil.li/quick-tip/add-scroll-margin-to-all-elements-which-can-be-targeted/
[id] {
  scroll-margin-top: 2ex;
}
// end - https://piccalil.li/quick-tip/add-scroll-margin-to-all-elements-which-can-be-targeted/
// start - add a border around these fields or fieldgroups so that it's easier to understand what parts of the form go with what
/*
#tab-titles .seven-details__wrapper > *
,#tab-person-type-and-dept .seven-details__wrapper > *
,#tab-education-and-training .form-type-entity-autocomplete
,#edit-field-ucsfphps-degrees-wrapper
,#edit-field-ucsfphps-postgradtraining-wrapper
,#edit-field-ucsfphps-licensurece-wrapper
,#tab-expertise .seven-details__wrapper > *
,#tab-affiliations-and-links .seven-details__wrapper > *:not(#edit-field-ucsfedsprofiles-wrapper)
{
  margin: 2em 0 2em -1em;
  padding: .25em 1em;
  border: 1px solid var(--form-field-border-color);
  border-radius: 4px;
  &:first-child{
    margin-top: 1em;
  }
  &:last-child{
    margin-bottom: 1em;
  }
}
// end - add a border around these fields or fieldgroups so that it's easier to understand what parts of the form go with what
*/
.field--type-entity-reference-revisions{
  .form-wrapper{
    margin: 0.75em 0;
  }
}
// start - tighten vertical space in these form fields
#tab-titles
,#tab-person-type-and-dept .seven-details__wrapper
,#tab-expertise .seven-details__wrapper
{
  .field-multiple-table{
    tr.odd
    ,tr.even
    {
      .form-item{
        margin-top: 2px;
        margin-bottom: 2px;
      }
    }
    td{
      padding: 0;
    }
  }
}
// end - tighten vertical space in these form fields
// start - add background color and border to multivalue items so that they are more easily distinguished amongst multiple items
#tab-education-and-training
,#tab-affiliations-and-links
{
  tbody{
    tr{
      background-color: #f2f2f0;
      border-bottom: 25px solid #fcfcfa;
      td{
        padding: 6px 0 8px;
      }
    }
  }
}
// end - add background color and border to multivalue items so that they are more easily distinguished amongst multiple items
#edit-field-credit-actions{
  margin-bottom: 10px;
}
#edit-field-credit-remove-button{
  margin: 30px 0 0;
}
// #edit-field-media-image-0-alt--description a:after
// ,.edit-media-link:after
.form-item{
  .description
  ,.edit-media-link
  {
    a:after{
      content: '';
      display: inline-block;
      width: 20px;
      height: 14px;
      background-image: url(../icons/external-link-square.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: 3px 0;
      // border: 1px solid green; // use this to test for visual confirmation of bounding box
    }
    a:hover:after{
      background-image: url(../icons/external-link-square-hover.svg);
    }
    a[target]:after{
      background-image: url(../icons/external-link-in-new-tab.svg);
      width: 47px;
    }
    a[target]:hover:after{
      background-image: url(../icons/external-link-in-new-tab-hover.svg);
      width: 47px;
    }
  }
}
th#view-changed-table-column { // in /admin/content make the updated column wider so the line doesn't wrap
  min-width: 16ch;
}
.smartdate--widget .allday-label{
  margin: 1.2em 4em 0.6em 0;
  input{
    margin: 0 1em 0 0;
  }
}

// start - resolve problem in off-campus.base.css in which display is set to block
#drupal-off-canvas ul li
,#drupal-off-canvas ol li
{
  display: inherit;
}
// end - resolve problem in off-campus.base.css in which display is set to block

.field-multiple-table{
  tr+tr{
    margin-top: 1em;
  }
}

// start - override node.module.css
@media screen and (min-width: 780px), (orientation: landscape) and (min-device-height: 780px){
  .layout-region-node-main{
    padding-right: 0;
  }
  .layout-region-node-main
  ,.layout-region-node-secondary
  {
    float: none;
    width: auto;
  }
}
@media screen and (min-width: 1200px), (orientation: landscape) and (min-device-height: 1200px){
  .layout-region-node-main{
    padding-right: 2em;
  }
  .layout-region-node-main{
    float: left;
    width: 70%;
  }
  .layout-region-node-secondary {
    float: right;
    width: 30%;
  }
}
// end - override node.module.css
